*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 800px;
  position: relative;
  bottom:0;
  left:0;
}
h1 {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 116px;
  font-weight: bold;
  line-height: 136.18px;
  letter-spacing: 0.035em;
  text-align: center;
  width: 740px;
  text-transform: uppercase;
  margin: 0px auto;
  position:static;
  padding-top: 36px;
  z-index: 1;
}

h1::after {
  content: "*";
}
h1:hover {
  color: #4c4c4c;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.page__heading:hover::before {
  content: "На самом деле нет. \AВажнее &mdash; научиться ошибаться.";
  text-transform: none;
  padding: 36px 44px;
  white-space: pre;
  position: absolute;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 35px;
  text-align: left;
  border-radius: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  border-bottom: 14px solid #000;
  background-color: #fff;
  color: #000000;
  margin-top: 120px;
 
}
